* {
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
}

body {
  background-color: rgb(226, 236, 255);
}

main {
  width: 900px;
  margin: 20px auto 50px auto;
  background-color: white;
}

header {
  position: relative;
  margin: 0;
}

figure {
  margin: 0;
}

#feature img {
  display: block;
  width: 900px;
}

.title {
  position: absolute;
  bottom: 50px;
  left: 50px;
  padding: 20px;
  background-color: rgba(199, 199, 199, 0.65);
}

.title p,
.title h1 {
  margin: 0;
  background: transparent;
}

.title h1 {
  font-size: 60px;
}

.title p {
  font-size: 20px;
  font-weight: 600;
  padding-top: 6px;
}

article {
  padding: 10px 110px 0 110px;
}

#article-figure {
  float: right;
  margin-left: 15px;
}

#article-figure img {
  display: inline;
  width: 300px;
}

#article-figure figcaption {
  font-size: 14px;
}

p.tags {
  padding: 20px 0;
  margin: 0;
}

p.tags span {
  margin-right: 5px;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 12px;
  background-color: #4e8098;
  color: white;
}

footer {
  margin-top: 10px;
  border-top: 1px solid grey;
}

footer p {
  margin: 0;
  padding: 10px 0 20px 0;
  text-align: center;
}
